# Dependencias
node_modules/

# Reportes de Pruebas y Builds
coverage/
dist/

# Archivos de Entorno y Sistema Operativo
.env*
.DS_Store
Thumbs.db

# Persistencia Oculta (Workspaces SDD)
workspaces/

# Credenciales de Identidad Dinámica (RBAC)
users.json